<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">PRODUCTS</li>
<!--            1-->
            <div class="s003">
                <form method="post" action="/products">
                    <div class="inner-form">
                        <div class="input-field second-wrap">
                            <input name="search" type="text" placeholder="Enter Name or Color or Brand or STYLE ID" />
                        </div>
                        <div class="input-field third-wrap">
                            <button class="btn-search" type="submit" style="background-color: #A5E126">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                        </div >
                    </div>
                </form>
                <form action="/products" method="get">
                    <div >
                            <button class="btn-search" type="submit" style="background-color: #A5E126;width:77px;height: 68px; color: white" >
                                Shuffle
                            </button>
                    </div>
                </form>
            </div>

        </ol>
    </div>
</div>
<div class="products-gallery">
    <div class="container">
        <div class="col-md-9 grid-gallery">
            {{#each products}}
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->

                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                            <div class="img"><img src="{{image}}" alt="/" class="img-responsive gri-wid"></div>
                            <div class="info">
                                <div class="pull-left styl-hdn">
                                    <h3>{{productid}}</h3>
                                </div>
                                <div class="pull-right styl-price">
                                    <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">{{price}}</span></a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div></div>
                    </div>
                    <!-- end normal -->
                <!-- end normal -->
                <div class="quick-view">
                    <a href="/single/{{this._id}}">Quick view</a>
                </div>
            </div>
            {{/each}}

            <div class="clearfix"></div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="/products?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="/products?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="/products?page=3">3</a></li>
                </ul>
            </nav>


        </div>

        <div>
            <ul class="pagination">

            </ul>
        </div>
        <div class="col-md-3 grid-details">
            <div class="grid-addon">
                <section  class="sky-form">
                    <div class="product_right">
                    </div>
                </section>
                <form>
                <section  class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                           {{#each discount}}
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>{{Discount}}%</label>
                           {{/each}}
                        </div>
                    </div>
                </section>
                <section  class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            {{#each type}}
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>{{nameType}}   (30)</label>
                            {{/each}}
                        </div>
                    </div>
                </section>
                <section  class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            {{#each brand}}
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>{{BrandName}}</label>
                            {{/each}}
                        </div>
                    </div>
                </section>
                <section  class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Color</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            {{#each color}}
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>{{color}}</label>
                            {{/each}}
                        </div>
                    </div>
                </section>
                    <input type="submit" name="">
                </form>
                <!---->
<!--                <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">-->
                <script type='text/javascript'>//<![CDATA[
                $(window).load(function(){
                    $( "#slider-range" ).slider({
                        range: true,
                        min: 0,
                        max: 400000,
                        values: [ 2500, 350000 ],
                        slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                        }
                    });
                    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

                });//]]>

                </script>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>